@model Ignite.Models.UserViewModel

<div id="modal" class="reveal-modal">
    <div id="modal-context"></div>
    <a class="cancel-action close-reveal-modal">&#215;</a>
</div>
        
<div id="contentSlider" class="royalSlider rsDefaultInv">
    <div id="profile-details" class="row rsContent">
        <i class="rsTmb">Details</i>
        <div class="profile details">
            <div id="details">
                @{ Html.RenderPartial("_ViewDetails", Model); }
            </div>
            <div id="edit-details">
                @{ Html.RenderPartial("_EditDetails", Model); }
            </div>
        </div>
    </div>
        
    <div class="row rsContent">
        <i class="rsTmb">Health Profile</i>
        <div id="Div1" class="profile details">
            <div id="php">
                @{ Html.RenderPartial("_ViewPHP", Model); }
            </div>
            <div id="edit-php">
                @{ Html.RenderPartial("_UpdatePHP", Model); }
            </div>
        </div>
    </div>
        
    @if(User.IsInRole("admin")){
        <div class="row rsContent">
            <i class="rsTmb">Personal Trainer</i>
            <div id="pt" class="toggleContent">
                @if(String.IsNullOrEmpty(Model.Profile.AssignedPT))
                {
                    <p>No personal trainer assigned.</p>
                }else{
                    Html.RenderAction("ViewPT", new { pt = Model.Profile.AssignedPT }); 
                }
            </div>
            @Html.HiddenFor(m => m.Profile.AssignedPT)
            <input type="button" class="small button" id="assign-pt" value="Assign PT" style="margin-top:10px;" />
        </div>
    }
</div>


<script type="text/javascript">
    var pt, client;

    function ShowEditDetails(user) {
        $('#details').slideUp();
        $('#edit-details').slideDown();

    }
    function CancelEditDetails() {
        $('#edit-details').slideUp();
        $('#details').slideDown();
    }
    function ShowUpdatePHP(user) {
        $('#php').slideUp();
        $('#edit-php').slideDown();
    }
    function CancelEditPHP() {
        $('#edit-php').slideUp();
        $('#php').slideDown();
    }

    function assignPT(name) {
        pt = name;
        $.ajax({
            url: '/User/AssignPT',
            data: 'pt='+pt+'&client='+client,
            type: 'POST',
            success: function (data) {
                $('#modal').trigger('reveal:close');
                refreshPTs();
            }
        });
    }

    function refreshPTs() {
        $('#pt').load('/User/ViewPT?pt=' + pt).slideDown();
    }

    $(document).ready(function () {
        pt = $('#Profile_AssignedPT').val();
        client = $('#UserName').html();

        $('#edit-details').hide();
        $('#edit-php').hide();

        $('#assign-pt').click(function () {
            $('#modal-context').load('/User/ListPT');
            $('#modal').reveal();
        });

        // initialize slider
        var slider = $('#contentSlider').rsInit();

        refreshPTs();
    });
</script>