<div class="row rsContent">
    <i class="rsTmb">News</i>
    <div id="news">
        <div class="dashboard-section">
            <h1>News</h1>
            <ul class="cool-list" id="news-list">
                <li>
                    <div>
                        <span>news item</span>
                    </div>
                </li>
                <li>
                    <div>
                        <span>news item</span>
                    </div>
                </li>
                <li>
                    <div>
                        <span>news item</span>
                    </div>
                </li>
                <li>
                    <div>
                        <span>news item</span>
                    </div>
                </li>
                <li>
                    <div>
                        <span>news item</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>